.pie-de-pagina{
    width: 100%;
    height: 100%;
    position:relative;
    bottom: 0;
    left: 0;
    top: 1rem;
    background: rgb(51, 58, 70);
    background: linear-gradient(90deg, rgb(63, 77, 97) 0%, rrgb(43, 54, 71)75%, rgb(90, 103, 122) 100%);
    color:white;
    
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
        
}
.pie-de-pagina a{
    color:rgb(218, 226, 226);
    
}
.pie-de-pagina a:hover{
    color:var(--orange);
}
.pie-de-pagina p{
    color:rgb(207, 217, 218);
}



